header {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #bd0600;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  color: aqua;
}