.main-header {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #ff006e;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  color: aqua;
}

/* Responsive Design -- Media Queries */
@media (min-width: 1024px) {


  .main-header {
        width: 30%;
        margin-top: 140px; 
        background-image: none;   
  }

  body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffbe0b;
  }

  .container {
    width: 50%;
    margin-top: 120px;
    background-color: #ffbe0b;
  }

  .nav-bar-1 {
    background-color: #8338ec;
    background-image: none;
  }
}