/*class for the nav */
.nav-bar-1 {
  display: flex;
  justify-content: space-between;
  background-color: #ff006e;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  color: #FFFFFF;
  height: 100px;
  width: 100%;
  padding: 1.5em;
  position: fixed;
  top:0;
}
.shockimg {
  position: absolute;
  top: 0%;
  right: 87%;
}


/* class for this section */
.newtweet-nav {
  display: flex;
  flex-direction: column;
}

/* class for <i> */
 #nav-id {
  color: red;
  padding-left: 3em ;
  animation: arrowmove 2s infinite;
}

@keyframes arrowmove {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}  