.nav-bar-1 {
  display: flex;
  justify-content: space-between;
  background-color: #2249c8;
  color: #FFFFFF;
  height: 100px;
  width: 100%;
  padding: 1.5em;
  position: fixed;
  top:0;
}

.newtweet-nav {
  display: flex;
  flex-direction: column;
}

#nav-id {
  color: red;
  padding-left: 3em ;
}

