/* takes the blue border off when clicked */
*:focus {
  outline: 0 !important;
}

/* class for this section */
.new-tweet {
  font-weight: bold;
  padding-top: 20px ;
} 
/* class for the section what are you humming about and text are */
.tweet-text {
  display: flex;
  flex-direction: column;
  border-bottom: solid;
}

/* class for the specific textarea, to remove border */
.textarea {
  background-color: #f4f1ec;
  border: none;
}

/* class for this s */
.tweet-btn {
  background-color: rgb(49, 49, 216);
  font-family: Bungee;
  color: white;
}

/* styling for the btn-div containing button, and output */
.btn-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-family: Bungee;
}


.tweet-btn:hover {
  cursor: pointer;
}

/* class for the section where we see the posted tweets */
.makingtweets {
  background-color:#f4f1ec ;
  color: #545149;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  border: solid black;
  padding: 10px;
}

/* class for the image, name and @ */
.tweet-username {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

/* class for the actual tweet */
.thetweet {
  border-bottom: solid;
  padding-bottom: 40px;
}

/* class for the foot of the <article>*/
.footer-tweet {
  display: flex;
  font-size: 80%;
  justify-content: space-between;
  font-weight: bold;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}

/* adding hover effects! */
i:hover{
  box-shadow: 10px 5px 5px rgb(162, 49, 184)ed;
  color: rgb(162, 49, 184);
  cursor: pointer;
}
/* to change the color of .container */
.color-change {
  color: red;
}

/* Error messages styling */
.error-char, .error-none{
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
			background-color: #FFBABA;
			background-image: url('https://i.imgur.com/GnyDvKN.png');
}